
canvas {
    box-shadow: 0px 10px 30px rgba(143, 143, 143, 0.3);
    border-radius: 0px;
}

#parent-div {
    height: 100vh;
}

#params-div {
    width: 400px;
}
#params-div * {
    margin: 10px;
}
#params-div button {
    width: 75%;
}

#canva-parent {
    width: 70%;
    height: 100%;
    margin: 20px;
}